html {
  font-family: system-ui, sans-serif;
  background-size: 224px;
}

body {
  background-color: #080c0b;
}

code {
  font-family:
    Menlo,
    Monaco,
    Lucida Console,
    Liberation Mono,
    DejaVu Sans Mono,
    Bitstream Vera Sans Mono,
    Courier New,
    monospace;
}
