---
import { Image } from 'astro:assets';
import badgePlaceholder from '@assets/badge-placeholder.jpg';
---

<script>
  window.onload = () => {
    console.log('Page ready.');
  };
</script>

<section class="h-screen">
  <div class="grid grid-cols-4 h-[100vh] grid-rows-[1fr_auto_auto_auto_auto]">
    <div class="col-span-4 h-full flex justify-around items-center">
      <div class="flex flex-col place-items-center">
        <h1 class="text-4xl md:text-7xl dark:text-white mb-1 md:mb-3 font-bold">
          Mariusz<br />Michalski
        </h1>
        <h2 class="text-base md:text-xl mb-3 font-medium">
          I am a frontend developer.<br />I deliver snappy apps.
        </h2>
      </div>
      <div>
        <Image
          src={badgePlaceholder}
          width="580"
          height="400"
          alt="/assets/badge-placeholder.jpg"
        />
      </div>
    </div>
    <div>2</div>
    <!-- X years of experience -->
    <div>3</div>
    <!-- X projects completed -->
    <div>4</div>
    <!-- X technologies mastered -->
    <div>5</div>
    <!-- X code commits -->
  </div>

  <!-- <div class="text-center">
    <p class="text-sm max-w-xl m-auto mb-6 font-bold">
      I am a frontend developer with 17 years of experience. I am interested in
      modern web technologies and how I can use them in my daily work. I have
      been creating single page applications using React/TypeScript
      technologies. In the past, I have worked with many other frameworks, such
      as AngularJS and Backbone.js, developing applications for various
      platforms (mobile, automotive industry, financial/banking sector, etc.). I
      pay a lot of attention to optimizing application performance and code
      quality.
    </p>
  </div> -->
</section>
